<div class="row ml-0 mr-0">

    <div class="col-lg-3 pl-0 pr-0 ">
        <div class="container-lg d-inline d-lg-flex flex-column min-vh-100">
            <div class="row ml-0 mr-0 mt-3 flex-fill flex-column">
               <h3>This is where stuff can go!</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-9 pl-0 pr-0">
        <div #mapDiv id={{mapID}} class="location-card" [style.min-height]="mapHeight" style="height:100%">
            <button *ngIf="searchActive" (click)="displayTraceOrZoomToNeighborhood($event)" class="btn btn-zybach"
                style="position:absolute; bottom:10px; right:10px; z-index:100000">{{traceActive ? "Zoom to my Neighborhood" : "Where does my water go?"}}</button>
        </div>
    </div>


    <div class="col-12 d-lg-none">
        <div class="row">
            <div class="col">
                This is where stuff can go!
            </div>
        </div>
    </div>

</div>