<div class="row mb-2">
    <div class="col-lg-3"   >
        <div class="row mb-3 align-items-end">
            <div class="col-auto pe-0">
                <label class="control-label d-inline-block">Filter By</label>
            </div>
            <div class="col">
                <select (change)="onMapFilterChange($event.target.value)" name="fitlerOptionSelect" class="form-control d-inline-block">
                    <option [value]="true">Last Message Age</option>
                    <option [value]="false">Last Voltage Reading</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-5"> 
        <ng-select [(ngModel)]="selectedFilterOptions" placeholder="No map filters selected" [multiple]="true"
            [closeOnSelect]="false" (change)="onSelectedFilterOptionsChange()" [selectableGroup]="true"
            [selectableGroupAsModel]="false" groupBy="group_name" [items]="filterOptionsDropdownList" bindLabel="item_text"
            bindValue="item_id">
            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> Select All
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.item_text}}
            </ng-template>
        </ng-select>
    </div>
    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" name="mapSearchQuery" class="form-control" placeholder="Search map by address..." [(ngModel)]="mapSearchQuery" (keyup.enter)="mapSearch()"/>
            <div class="input-group-append">
                <button class="btn btn-zybach" type="button" (click)="mapSearch()" >Search</button>
            </div>
        </div>
    </div>
</div>

<div id="{{mapID}}" [style.height]="mapHeight">
    
</div>
