<div class="row mb-2">
    <div class="col-sm col-9 col-xs-3 pt-2 mr-0 pr-0">
        Showing wells with
        <ng-multiselect-dropdown  [placeholder]="'No Data Source Selected'" [(ngModel)]="selectedDataSources"
            [settings]="dataSourceDropdownSettings" [data]="dataSourceDropdownList" name="dataSourceFilter"
            (onSelect)="onDataSourceFilterChange($event)" (onDeSelect)="onDataSourceFilterChange($event)"
            (onSelectAll)="onDataSourceFilterSelectAll($event)" (onDeSelectAll)="onDataSourceFilterDeselectAll($event)">
        </ng-multiselect-dropdown>
    </div>
</div>
<div id="{{mapID}}" [style.height]="mapHeight"></div>