.navbarLogo {
    height: 80px;
  }
  
  .footerLogo {
    height: 50px;
    float: right;
    margin: 5px 0;
  }
  
  a.signOut {
    cursor: pointer;
  }
  
  .dropdown-menu {
    z-index: 1021;
    background-color: #23AECF;
  }
  
  .navbar.navbar-drooltool
  {
    font-family: Nunito;
  }

  .header-outer {
    background-color: #00728d;
  }

  .navbar.navbar-drooltool a.nav-link,
  .navbar.navbar-drooltool a.nav-link::before,
  .navbar.navbar-drooltool a.nav-link::after,
  .top-bar-nav-link,
  .top-bar-nav-link::before,
  .top-bar-nav-link::after,
  .dropdown-item {
    transition: all .5s;
  }
  .navbar.navbar-drooltool a.nav-link:hover,
  .top-bar-nav-link:hover,
  .dropdown-item:hover {
    color:#ea842c;
  }

  .dropdown-item:hover {
    background-color: #23AECF;
  }

  .navbar.navbar-drooltool a.nav-link,
  .top-bar-nav-link,
  .dropdown-item
  {
    color: #fff;
  }

  .welcomeUser{
    @media screen and (min-width: 991px){
      text-align:right;
    }
    @media screen and (max-width: 990px){
      text-align:left;
    }
  }