@import "~src/scss/_variables.scss";


  
  .footerLogo {
    height: 50px;
    float: right;
    margin: 5px 0;
  }
  
  a.signOut {
    cursor: pointer;
  }
  
  .dropdown-menu {
    z-index: 1021;
  }
  
  .navbar.navbar-zybach
  {
    background-color: $header-background;
  }

  .navbar.navbar-zybach a.nav-link,
  .navbar.navbar-zybach a.nav-link::before,
  .navbar.navbar-zybach a.nav-link::after {
    transition: all .5s;
  }
  
  .navbar.navbar-zybach a.nav-link:hover {
    color:$select-and-nav-hover;
  }

  nav .dropdown-item:hover {
    background-color: $select-and-nav-dropdown-hover;
  }

  .navbar.navbar-zybach a.nav-link
  {
    color: $header-nav-link;
  }


  .navbarLogo {
    height: 106px;
  }
  .navbar-brand {
    padding: 0px;
  }
  nav{
    padding-top:0;
    padding-bottom:0;
  }

  
  .welcomeUser{
    @media screen and (min-width: 991px){
      text-align:right;
    }
    @media screen and (max-width: 990px){
      text-align:left;
    }
  }

  @media screen and (max-width: 605px){
    .navbarLogo {
      display:none;
    }
    nav{
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }