<nav class="navbar navbar-expand-md justify-content-start navbar-zybach logoPadding navbar-responsive-header">

    <a routerLink="/" routerLinkActive="active" class="navbar-brand nav-link">
        {{platformShortName()}}
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>


<nav class="navbar navbar-expand-md justify-content-start navbar-zybach-secondary logoPadding">
    <a href="{{leadOrganizationHomeUrl()}}" class="navbar-logo pt-0" target="_blank"
        style="float:left; position:absolute; z-index:1025; left:0; top: 0">
        <img src="{{leadOrganizationLogoSrc()}}" />
    </a>

    <div class="flex-row navbar-collapse collapse" id="navbar2">
        <ul class="navbar-nav">
            <li class="nav-item dropdown" routerLinkActive="active">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/users" class="dropdown-item">
                        Users
                    </a>
                    <a routerLink="/labels-and-definitions" class="dropdown-item">
                        Labels and Definitions
                    </a>
                    <a routerLink="/test-api" class="dropdown-item">
                        Test API
                    </a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link px-2" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-md  navbar-zybach logoPadding">
    <a routerLink="/" routerLinkActive="active" class="navbar-brand navbar-brand-primary nav-link">
        {{platformShortName()}}
    </a>

    <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">
        <ul class="navbar-nav">
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAdministrator()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/users" class="dropdown-item">
                        Users
                    </a>
                    <a routerLink="/labels-and-definitions" class="dropdown-item">
                        Labels and Definitions
                    </a>
                    <a routerLink="/test-api" class="dropdown-item">
                        Test API
                    </a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
        </ul>
    </div>
</nav>