Hotfixes
/Source/DroolTool.GeoServer/data_dir/.updatepassword.lock
/Source/DroolTool.GeoServer/data_dir/controlflow.properties
/Source/DroolTool.GeoServer/data_dir/csw/MD_Metadata.properties
/Source/DroolTool.GeoServer/data_dir/csw/Record.properties
/Source/DroolTool.GeoServer/data_dir/global.xml
/Source/DroolTool.GeoServer/data_dir/gwc-gs.xml
/Source/DroolTool.GeoServer/data_dir/gwc-layers/LayerInfoImpl--18630a05_16eebb97b3c_-64ce.xml
/Source/DroolTool.GeoServer/data_dir/gwc/geowebcache.xml
/Source/DroolTool.GeoServer/data_dir/gwc/metadata.properties
/Source/DroolTool.GeoServer/data_dir/logging.xml
/Source/DroolTool.GeoServer/data_dir/printing/config.yaml
/Source/DroolTool.GeoServer/data_dir/security/auth/default/config.xml
/Source/DroolTool.GeoServer/data_dir/security/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/anonymous/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/basic/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/contextAsc/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/contextNoAsc/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/exception/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/form/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/formLogout/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/interceptor/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/rememberme/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/restInterceptor/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/roleFilter/config.xml
/Source/DroolTool.GeoServer/data_dir/security/filter/sslFilter/config.xml
/Source/DroolTool.GeoServer/data_dir/security/geoserver.jceks
/Source/DroolTool.GeoServer/data_dir/security/layers.properties
/Source/DroolTool.GeoServer/data_dir/security/masterpw.digest
/Source/DroolTool.GeoServer/data_dir/security/masterpw.xml
/Source/DroolTool.GeoServer/data_dir/security/masterpw/default/config.xml
/Source/DroolTool.GeoServer/data_dir/security/masterpw/default/passwd
/Source/DroolTool.GeoServer/data_dir/security/pwpolicy/default/config.xml
/Source/DroolTool.GeoServer/data_dir/security/pwpolicy/master/config.xml
/Source/DroolTool.GeoServer/data_dir/security/rest.properties
/Source/DroolTool.GeoServer/data_dir/security/role/default/config.xml
/Source/DroolTool.GeoServer/data_dir/security/role/default/roles.xml
/Source/DroolTool.GeoServer/data_dir/security/role/default/roles.xsd
/Source/DroolTool.GeoServer/data_dir/security/services.properties
/Source/DroolTool.GeoServer/data_dir/security/usergroup/default/config.xml
/Source/DroolTool.GeoServer/data_dir/security/usergroup/default/users.xml
/Source/DroolTool.GeoServer/data_dir/security/usergroup/default/users.xml.orig
/Source/DroolTool.GeoServer/data_dir/security/usergroup/default/users.xsd
/Source/DroolTool.GeoServer/data_dir/security/version.properties
/Source/DroolTool.GeoServer/data_dir/wps.xml
/Source/_ReSharper.Caches

Source/DroolTool.Web/src/assets/config.json
Source/DroolTool.GeoServer/localhost-rsa.jks
Source/DroolTool.GeoServer/data_dir/gwc-layers/*
Source/DroolTool.GeoServer/docker_compose.localhost.yml
