Hotfixes

/Source/_ReSharper.Caches

Source/Zybach.API/api-dev.zybach.org.pfx
Source/Zybach.Web/src/assets/config.json
Source/Zybach.API/secret.json
Source/Zybach.Web/wwwroot/
Source/Zybach.NodeAPI/secrets.json
Source/Zybach.Teaspoon/rows
Source/Zybach.Teaspoon/test.js
Source/Zybach.Teaspoon/secrets.prod.json
Source/Zybach.NodeAPI/src/bucket/cert.pem
Source/Zybach.NodeAPI/src/bucket/key.pem
Source/old/Zybach.Web/wwwroot/assets/config.json
*.pem
/Source/Zybach.API/appsecrets.json
Source/Zybach.Web/.vscode/
