@import "scss/_variables.scss";

// import Bootstrap AFTER variables
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";

@import "scss/_grids.scss";
@import "~leaflet/dist/leaflet.css";
//@import "~leaflet-draw/dist/leaflet.draw.css";

@import "scss/_sticky_footer.scss";
@import "scss/_forms.scss";
@import "scss/_custom-bootstrap.scss";

// begin ag-grid settings
$grid-size: 4px;
$font-size: 12px;
$secondary-font-size: 13px;
$header-icon-size: 13px;
$cell-horizontal-padding: 12px;
$tooltip-padding: 0px;
$header-background-color: #448AC6;
$header-foreground-color: #fff;

// changes the default icon color
$icon-color: #fff;

// changes the selected checkbox check mark color
$accent-color: #0077f9;
$hover-color: cornsilk;

$ag-range-selected-color-1: rgb(250, 235, 215);
$ag-range-selected-color-2: darken($ag-range-selected-color-1, 10%);
$ag-range-selected-color-3: darken($ag-range-selected-color-1, 20%);
$ag-range-selected-color-4: darken($ag-range-selected-color-1, 30%);

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";

.ag-theme-balham
{
    font-family: 'Tahoma';
}


.ag-paging-panel .ag-icon
{
    color: rgba(0, 0, 0, 0.54);
}

.ag-theme-balham .ag-header
{
    background-color: #2f5b4c;
}
// end ag-grid settings


.switch {
    position: relative;
    display: inline-block;
    width: 98px;
    height: 21px;
    padding: 0;
    margin: 0;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6b6b6b;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #196004;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #196004;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(77px);
    -ms-transform: translateX(7px);
    transform: translateX(77px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}

  body {
    font-family: 'Nunito', sans-serif;
    color: #555555;   
  }

  .b1, .b2, .b3, .b4 {
    font-weight: 600; //semibold
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #555555;
  }

  //Large field values
  .b1 {
    font-size: 28px;
  }

  //Regular sized field values
  .b2 {
    font-size: 24px;
  }

  //Field Title Descriptions
  .b3 {
    font-size: 20px;
  }

  .b4 {
    font-size: 16px;
  }

  h1, h2, h3, h4 {
    color:#ea842c;
    font-family: 'Poppins', sans-serif;
  }

  h1 {
    font-size: 40px;
  }

  //H2 elements should be camel cased
  h2 {
    font-size: 28px;
    font-weight: 600; //semibold
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  //Begin ngx-slick-carousel styles
  .prev, .next {
    z-index: 1;
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 55px;
    cursor: pointer;
    background: transparent;
    color: #555;
    top: 40%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

.prev:focus,
.next:focus {
  outline:none;
}

.prev {
  left:-10px;
}

.next {
  right:5px;
}

.slide-background {
  display:inline-block; 
  height:350px; 
  width:350px; 
  background-color:lightgrey;
  margin-bottom: 23px;
}

.slide-module-accent {
  width:230px;
  background-color: #89bf40;
  position: relative;
  top: 313px;
  display: inline-block;
}

.slide-module-accent > p {
  margin: 0 auto;
  width: 173px;
}

.slide-link-text {
  width:230px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}

.slide-container {
  width:100%;
  text-align:center;
}

@media only screen and (max-width: 359px)
{
  .slide-module-accent {
    left:-50px
  }
}

// @media only screen and (min-width: 426px)
// {
//   .slide-container {
//     width:300px;
//     margin:auto;
//   }
// }
//end ngx-slick-carousel styles
