CREATE TYPE [dbo].[html] FROM [varchar](max) NULL
GO

CREATE TABLE dbo.CustomRichTextType(
	CustomRichTextTypeID int NOT NULL CONSTRAINT PK_CustomRichTextType_CustomRichTextTypeID PRIMARY KEY,
	CustomRichTextTypeName varchar(100) NOT NULL CONSTRAINT AK_CustomRichTextType_CustomRichTextTypeName UNIQUE,
	CustomRichTextTypeDisplayName varchar(100) NOT NULL CONSTRAINT AK_CustomRichTextType_CustomRichTextTypeDisplayName UNIQUE
)

CREATE TABLE dbo.CustomRichText(
	CustomRichTextID int IDENTITY(1,1) NOT NULL CONSTRAINT PK_CustomRichText_CustomRichTextID PRIMARY KEY,
	CustomRichTextTypeID int NOT NULL CONSTRAINT FK_CustomRichText_CustomRichTextType_CustomRichTextTypeID FOREIGN KEY REFERENCES dbo.CustomRichTextType (CustomRichTextTypeID),
	CustomRichTextContent dbo.html NULL
)

create table dbo.FieldDefinitionType (
	FieldDefinitionTypeID int not null constraint PK_FieldDefinitionType_FieldDefinitionTypeID primary key,
	FieldDefinitionTypeName varchar(100) not null constraint AK_FieldDefinitionType_FieldDefinitionTypeName unique,
	FieldDefinitionTypeDisplayName varchar(100) not null  constraint AK_FieldDefinitionType_FieldDefinitionTypeDisplayName unique
)

create table dbo.FieldDefinition (
	FieldDefinitionID int not null identity(1,1) constraint PK_FieldDefinition_FieldDefinitionID primary key,
	FieldDefinitionTypeID int not null constraint FK_FieldDefinition_FieldDefinitionType_FieldDefinitionTypeID foreign key (FieldDefinitionTypeID) references dbo.FieldDefinitionType(FieldDefinitionTypeID),
	FieldDefinitionValue dbo.html null
)

alter table dbo.[User] add Company varchar(100) NULL
alter table dbo.[User] add DisclaimerAcknowledgedDate datetime NULL

GO


insert into dbo.[Role](RoleID, RoleName, RoleDisplayName, RoleDescription, SortOrder)
values
(4, 'Disabled', 'Disabled', '', 40)


Insert into dbo.CustomRichTextType (CustomRichTextTypeID, CustomRichTextTypeName, CustomRichTextTypeDisplayName)
values

(1, 'Platform Overview', 'Platform Overview'),
(2, 'Disclaimer', 'Disclaimer'),
(3, 'Home page', 'Home page'),
(4, 'Help', 'Help'),
(5, 'LabelsAndDefinitionsList', 'Labels and Definitions List'),
(6, 'Training', 'Training')



insert into FieldDefinitionType (FieldDefinitionTypeID, FieldDefinitionTypeName, FieldDefinitionTypeDisplayName)
values (1, 'Name', 'Name')

insert into FieldDefinition (FieldDefinitionTypeID, FieldDefinitionValue)
select FieldDefinitionTypeID, 'Default definition for ' + FieldDefinitionTypeDisplayName
from dbo.FieldDefinitionType

