<div class="container">

    <ngb-alert *ngIf="userIsUnassigned()" [type]="'info'" [dismissible]="false">
        <span>
            Welcome {{currentUser.FullName}}. You have successfully logged in to the {{platformLongName()}},
            but your
            account is not yet configured. You will receive an email from the {{leadOrganizationShortName()}}
            Administrators when your account is
            ready to
            use. You may <a routerLink="/help">Request Support</a> to contact the Administrators with any questions or
            comments.
        </span>
    </ngb-alert>

    <ngb-alert *ngIf="userRoleIsDisabled()" [type]="'info'" [dismissible]="false">
        <span>
            Your account is currently disabled. Please <a routerLink="/help">Request Support</a> if you would like to
            activate your account.
        </span>
    </ngb-alert>

    <app-alert-display></app-alert-display>
    <div class="row homeSection">
        <div class="col-12 col-lg-6 text-center order-lg-last">
            <h1>Only rain down the drain</h1>
            <div>
                <p class="b1">
                    Urban drool contributes to more than 1 million gallons of polluted discharge to 
                    Aliso Creek each day.
                    <br>
                    It starts in a gutter near you...
                </p>
                <p class="b1">
                    Small changes in how you use water outdoors can eliminate drool and save you money.
                </p>
                <p class="b1">
                    <a routerLink="/" routerLinkActive="true">Learn more about Urban Drool</a>
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-6 order-lg-first text-over-picture">
            <div style="background-color:lightgrey; height:450px;"></div>
        </div>
    </div>
</div>
    <div class="row homeSection h-100 pt-0" style="background-image:url('../../assets/main/Map_Background.png'); background-size:auto; margin-top:80px">
        <div class="col-12 text-center my-auto">
            <h1 style="margin-bottom:30px">Do you add to urban drool?
            </h1>
            <div class="row" style="margin-bottom:30px">
                <div class="col-12 col-md-6 offset-md-3">
                    <p class="b1">
                        Use these interactive tools to learn more about urban water usage 
                        and its effect on our watersheds.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4 neighborhood-button">
                    <button class="btn btn-lg btn-drooltool" style="margin-bottom:20px">Neighborhood Explorer</button>
                    <p class="b2">
                        Find out how your neighborhood contributes to urban drool and 
                        what you can do.
                    </p>
                </div>
                <div class="col-6 col-lg-4 watershed-button">
                    <button class="btn btn-lg btn-drooltool" style="margin-bottom:20px">Watershed Explorer</button>
                    <p class="b2">
                        Learn more about your watershed and the benefits of reducing urban drool
                    </p>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row homeSection">
        <div class="col-12 col-lg-8 m-lg-auto order-lg-last">
            <div id="takeActionImage"></div>
        </div>
        <div class="col-12 col-lg-4 m-lg-auto text-center order-lg-first" style="z-index:2">
            <div>
                <h1>Take action in your community!</h1>
                <p class="b2">
                    Moulton Niguel Water District and the Municipal Water District
                    of Orange County offer a variety of rebate programs you can participate
                    in to reduce the amount of urban drool your household creates.
                </p>
                <p class="b2">
                    <a href="https://www.mnwd.com/rebates/">Check out rebate programs</a>
                </p>
            </div>

        </div>
    </div>
    <div class="row homeSection">
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-12">
                    <h1>News & Updates</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)" style="padding-top:40px">
                        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                            <div class="slide-container">
                                <div class="slide-background">
                                    <div class="slide-module-accent">
                                        <p class="b3" style="color:#FFF">{{slide.date}}</p>
                                    </div>
                                </div>
                                <p class="b3 slide-link-text"><a href="/">{{slide.title}}</a></p>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="row homeSection" style="padding-bottom:80px">
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-12">
                    <h1>Resource Spotlight</h1>
                    <p class="b2" style="margin-bottom:0"><a routerLink="/" routerLinkActive="true">Explore more Resources</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="resourceImage" style="margin: 30px auto"></div>
                </div>
            </div>
            <div class="row" >
                <div class="col-12 col-md-6 offset-md-3">
                    <h3 class="mt-1">New Rebate Option: <br>
                        Weather-Based Smart Sprinkler Timers
                    </h3>
                    <p class="b3">Moulton Niguel offers a variety of rebate programs you can join
                        to reduce the opportunities your household has to create
                        urban drool.</p>
                </div>
            </div>
        </div>
    </div>
</div>