<div class="container" *ngIf="!wells else wellsList">
    <div class="row">
        <div class="col text-center">
            <span class="fas fa-spinner loading-spinner"></span>
            <p>Loading...</p>
        </div>
    </div>
</div>


<ng-template #wellsList>
    <div class="container navCaretMargin">
        <div class="col-12">
            <h2 class="d-inline-block">Water Level Explorer</h2>
            <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        </div>
        
        <div class="row col-12 mt-4">

            <div class="col-6">
                <div class="card">
                    <div class="card-header">Water Level Summary</div>
                    <div class="card-body">
                        <div *ngIf="selectedWell; else noWellSelected">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6 label"><strong>
                                        <field-definition [fieldDefinitionType]="'WellRegistrationNumber'">
                                        </field-definition>:
                                    </strong> </div>
                                    <div class="col-6"><a routerLink="/wells/{{selectedWell?.WellID}}">{{selectedWell?.WellRegistrationID}}</a></div>
                                    <div class="col-6 label"><strong>Legal Description: </strong></div>
                                    <div class="col-6">{{ selectedWell?.TownshipRangeSection }}</div>
                                    <div class="col-6 label"><strong>
                                        <field-definition [fieldDefinitionType]="'SensorLastReadingDate'">
                                        </field-definition>:
                                    </strong></div>
                                    <div class="col-6">{{ selectedWell?.LastReadingDate | date:'shortDate' }}</div>
                                </div>
                            </div>
                            <div>
                                <zybach-sensor-chart [(sensorChartData)]="sensorChartData"></zybach-sensor-chart>
                                <div class="mt-2">
                                    <custom-rich-text [customRichTextTypeID]="disclaimerRichTextTypeID"></custom-rich-text>
                                </div>
                            </div>
                        </div>
                        <ng-template #noWellSelected>
                            <p>
                                Click on a well on the map to view water level sensor information, or use the search box
                                to locate the closest well to a certain location.
                            </p>
                        </ng-template>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <zybach-well-water-level-map #wellMap [wellsGeoJson]="wellsGeoJson" (onWellSelected)="onMapSelection($event)">
                </zybach-well-water-level-map>
            </div>
        </div>
    </div>
</ng-template>
