<div class="container">

    <ngb-alert *ngIf="userIsUnassigned()" [type]="'info'" [dismissible]="false">
        <span>
            Welcome {{currentUser.FullName}}. You have successfully logged in to the {{platformLongName()}},
            but your
            account is not yet configured. You will receive an email from the {{leadOrganizationShortName()}}
            Administrators when your account is
            ready to
            use. You may <a routerLink="/help">Request Support</a> to contact the Administrators with any questions or
            comments.
        </span>
    </ngb-alert>

    <ngb-alert *ngIf="userRoleIsDisabled()" [type]="'info'" [dismissible]="false">
        <span>
            Your account is currently disabled. Please <a routerLink="/help">Request Support</a> if you would like to
            activate your account.
        </span>
    </ngb-alert>

    <app-alert-display></app-alert-display>
    <h1>Welcome to the TPNRD Groundwater Platform</h1>
    <sitka-custom-rich-text [customRichTextTypeID]="homeCustomRichTextTypeID"></sitka-custom-rich-text>
</div>