<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Robust Review Scenario</li>
    </ol>
</nav>
<div class="container">
    <app-alert-display></app-alert-display>
    <h2 class="d-inline-block">Robust Review Scenario</h2>
    <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
    <button class="btn btn-zybach" (click)="getRobustReviewScenarioJson()" [disabled]="fileDownloading">Download Robust Review Scenario .json <span *ngIf="fileDownloading" class="fas fa-spinner loading-spinner"></span> </button>
    <button class="btn btn-zybach" (click)="new()" [disabled]="fileDownloading">New</button>
</div>