<div class="container navCaretMargin">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="d-inline-block">Manager Dashboard</h2>
        </div>
        <div class="col-12 col-md-6 text-right">
            <div class="float-right pl-2">
                <zybach-water-year-select [(selectedYear)]="yearToDisplay" (selectedYearChange)="updateAnnualData()">
                </zybach-water-year-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    District-Wide Statistics
                </div>
                <div class="card-body">
                    
                    <div class="row" *ngIf="loadingDistrictStatistics">
                        <div class="col text-center">
                            <span class="fas fa-spinner loading-spinner"></span>
                            <p>Loading...</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="!loadingDistrictStatistics">
                        <div class="col-12  col-sm-6 label"><strong>Wells with Flow Meters: </strong> </div>
                        <div class="col-12  col-sm-6">{{districtStatistics.NumberOfFlowMeters}}</div>
                        <div class="col-12  col-sm-6 label"><strong>Wells with Continuity Meters: </strong> </div>
                        <div class="col-12  col-sm-6">{{districtStatistics.NumberOfContinuityMeters}}</div>
                        <div class="col-12  col-sm-6 label"><strong>Wells with Electrical Usage Estimates: </strong> </div>
                        <div class="col-12  col-sm-6">{{districtStatistics.NumberOfElectricalUsageEstimates}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    Usage Charts
                </div>
                <div class="card-body">
                    <p class="text-italic">Under construction</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Water Usage Maps
                </div>
                <div class="card-body">
                    <p class="text-italic">Under construction</p>
                </div>
            </div>
        </div>
    </div>
</div>