<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Well Map</li>
    </ol>
</nav>

<div class="container-fluid" *ngIf="wells">
    <zybach-well-map #wellMap [wellsGeoJson]="wellsGeoJson" (onWellSelected)="onMapSelection($event)"></zybach-well-map>
</div>

<div class="container mt-2" *ngIf="wells">
    <ag-grid-angular #wellsGrid style="width: 100%; height: 500px;" class="ag-theme-balham" [rowData]="wells"
        [columnDefs]="columnDefs" [pagination]="true" [rowSelection]="'single'" [paginationPageSize]="100"
        (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>
</div>