<div class="row ml-0 mr-0">

    <div class="col-lg-3 pl-2 pr-2 ">
        <div class="container-lg d-inline d-lg-flex flex-column min-vh-100">
            <div class="row mt-2" *ngIf="!activeWell">
                <h3>All Wells</h3>
                <ag-grid-angular #geooptixWellsGrid style="width: 100%; height: 300px;" class="ag-theme-balham"
                    [rowData]="wells" [columnDefs]="columnDefs" [pagination]="true" [rowSelection]="'single'"
                    [paginationPageSize]="100" (selectionChanged)="onSelectionChanged($event)"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
            <ng-container *ngIf="activeWell">
                <div class="row mt-2" *ngIf="activeWell">
                    <div class="col">
                        <h3>Selected Well</h3>
                        <dl style="max-height: 300px; overflow-y:scroll; overflow-x:hidden; font-size: 14px;"
                            *ngIf="!activeWell.arcError">
                            <dt>Object ID:</dt>
                            <dd>{{activeWell.ObjectId | placeholder: "Not provided"}}</dd>
                            <dt>Well ID:</dt>
                            <dd>{{activeWell.WellID| placeholder: "Not provided"}}</dd>
                            <dt>Registration Number:</dt>
                            <dd>{{activeWell.RegistrationNumber| placeholder: "Not provided"}}</dd>
                            <dt>Status:</dt>
                            <dd>{{activeWell.Status| placeholder: "Not provided"}}</dd>
                            <dt>NRD Name:</dt>
                            <dd>{{activeWell.NRDName| placeholder: "Not provided"}}</dd>
                            <dt>County:</dt>
                            <dd>{{activeWell.CountyName| placeholder: "Not provided"}}</dd>
                            <dt>STR:</dt>
                            <dd>{{activeWell.Location| placeholder: "Not provided"}}</dd>
                            <dt>NRD Permit:</dt>
                            <dd>{{activeWell.NRDPermit| placeholder: "Not provided"}}</dd>
                            <dt>Acres:</dt>
                            <dd>{{activeWell.Acres| placeholder: "Not provided"}}</dd>
                            <dt>Series Type:</dt>
                            <dd>{{activeWell.SeriesType| placeholder: "Not provided"}}</dd>
                            <dt>Pump Rate:</dt>
                            <dd>{{activeWell.PumpRate| placeholder: "Not provided"}}</dd>
                            <dt>Column Diameter:</dt>
                            <dd>{{activeWell.PumpColumn_Diameter| placeholder: "Not provided"}}</dd>
                            <dt>Pump Depth:</dt>
                            <dd>{{activeWell.PumpDepth| placeholder: "Not provided"}}</dd>
                            <dt>Total Depth:</dt>
                            <dd>{{activeWell.TotalDepth| placeholder: "Not provided"}}</dd>
                            <dt>Static Water Level:</dt>
                            <dd>{{activeWell.StaticWaterLevel| placeholder: "Not provided"}}</dd>
                            <dt>Pumping Water Level:</dt>
                            <dd>{{activeWell.PumpingWaterLevel| placeholder: "Not provided"}}</dd>
                            <dt>Owner ID:</dt>
                            <dd>{{activeWell.OwnerID| placeholder: "Not provided"}}</dd>
                            <dt>First Name:</dt>
                            <dd>{{activeWell.FirstName| placeholder: "Not provided"}}</dd>
                            <dt>Last Name:</dt>
                            <dd>{{activeWell.LastName| placeholder: "Not provided"}}</dd>
                            <dt>Registration Date:</dt>
                            <dd>{{activeWell.RegistrationDate| placeholder: "Not provided"}}</dd>
                            <dt>Completion Date:</dt>
                            <dd>{{activeWell.CompletionDate| placeholder: "Not provided"}}</dd>
                            <dt>Last Change Date::</dt>
                            <dd>{{activeWell.LastChangeDate| placeholder: "Not provided"}}</dd>
                            <dt>Decommissioned Date:</dt>
                            <dd>{{activeWell.DecommissionedDate| placeholder: "Not provided"}}</dd>
                            <dt>Latitude:</dt>
                            <dd>{{activeWell.Latitude| placeholder: "Not provided"}}</dd>
                            <dt>Longitude:</dt>
                            <dd>{{activeWell.Longitude| placeholder: "Not provided"}}</dd>
                        </dl>
                        <em *ngIf="activeWell.arcError">The well was not found in the GIS layer.</em>

                        <button type="button" class="btn btn-zybach mt-2" (click)="clearSelection($event)"><i
                                class="fas fa-long-arrow-alt-left mr-1"></i>View all wells</button>
                        <a class="btn btn-zybach mt-2 ml-2" routerLink="/wells/{{activeWell.RegistrationNumber}}">View Details <i class="ml-1 fas fa-eye"></i></a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="col-lg-9 pl-0 pr-0">
        <div #mapDiv id={{mapID}} class="location-card" [style.min-height]="mapHeight" style="height:100%">
            <button *ngIf="searchActive" (click)="displayTraceOrZoomToNeighborhood($event)" class="btn btn-zybach"
                style="position:absolute; bottom:10px; right:10px; z-index:100000">{{traceActive ? "Zoom to my Neighborhood" : "Where does my water go?"}}</button>
        </div>
    </div>

    <div class="col-12 d-lg-none">
        <div class="row">
            <div class="col">
                This is where stuff can go!
            </div>
        </div>
    </div>

</div>