<div class="row ml-0 mr-0">

    <div class="col-lg-3 pl-2 pr-2 ">
        <div class="container-lg d-inline d-lg-flex flex-column min-vh-100">
            <div class="row mt-2" *ngIf="!activeWell">
                <h3>All Wells</h3>
                <ag-grid-angular #geooptixWellsGrid style="width: 100%; height: 300px;" class="ag-theme-balham"
                    [rowData]="wells" [columnDefs]="columnDefs" [pagination]="true" [rowSelection]="'single'"
                    [paginationPageSize]="100" (selectionChanged)="onSelectionChanged($event)"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
            <ng-container *ngIf="activeWell">
                <div class="row mt-2" *ngIf="activeWell">
                    <div class="col">
                        <h3>Selected Well</h3>
                        <p class="mb-1">
                            <a routerLink="/wells/{{activeWell.RegCD}}">View Details</a>
                        </p>
                        <dl style="max-height: 300px; overflow-y:scroll; overflow-x:hidden;"
                            *ngIf="!activeWell.arcError">
                            <dt>FID:</dt>
                            <dd>{{activeWell.FID| placeholder: "Not provided"}}</dd>
                            <dt>OBJECTID:</dt>
                            <dd>{{activeWell.OBJECTID| placeholder: "Not provided"}}</dd>
                            <dt>WellID:</dt>
                            <dd>{{activeWell.WellID| placeholder: "Not provided"}}</dd>
                            <dt>RegCD:</dt>
                            <dd>{{activeWell.RegCD| placeholder: "Not provided"}}</dd>
                            <dt>Replacemen:</dt>
                            <dd>{{activeWell.Replacemen| placeholder: "Not provided"}}</dd>
                            <dt>Status:</dt>
                            <dd>{{activeWell.Status| placeholder: "Not provided"}}</dd>
                            <dt>Useid:</dt>
                            <dd>{{activeWell.Useid| placeholder: "Not provided"}}</dd>
                            <dt>NrdName:</dt>
                            <dd>{{activeWell.NrdName| placeholder: "Not provided"}}</dd>
                            <dt>NrdID:</dt>
                            <dd>{{activeWell.NrdID| placeholder: "Not provided"}}</dd>
                            <dt>Countyname:</dt>
                            <dd>{{activeWell.Countyname| placeholder: "Not provided"}}</dd>
                            <dt>CountyID:</dt>
                            <dd>{{activeWell.CountyID| placeholder: "Not provided"}}</dd>
                            <dt>Township:</dt>
                            <dd>{{activeWell.Township| placeholder: "Not provided"}}</dd>
                            <dt>Range:</dt>
                            <dd>{{activeWell.Range| placeholder: "Not provided"}}</dd>
                            <dt>RangeDir:</dt>
                            <dd>{{activeWell.RangeDir| placeholder: "Not provided"}}</dd>
                            <dt>Section_:</dt>
                            <dd>{{activeWell.Section_| placeholder: "Not provided"}}</dd>
                            <dt>SubSection:</dt>
                            <dd>{{activeWell.SubSection| placeholder: "Not provided"}}</dd>
                            <dt>FootageNS:</dt>
                            <dd>{{activeWell.FootageNS| placeholder: "Not provided"}}</dd>
                            <dt>FootageDir:</dt>
                            <dd>{{activeWell.FootageDir| placeholder: "Not provided"}}</dd>
                            <dt>FootageEW:</dt>
                            <dd>{{activeWell.FootageEW| placeholder: "Not provided"}}</dd>
                            <dt>FootageD_1:</dt>
                            <dd>{{activeWell.FootageD_1| placeholder: "Not provided"}}</dd>
                            <dt>NrdPermit:</dt>
                            <dd>{{activeWell.NrdPermit| placeholder: "Not provided"}}</dd>
                            <dt>Acres:</dt>
                            <dd>{{activeWell.Acres| placeholder: "Not provided"}}</dd>
                            <dt>SeriesType:</dt>
                            <dd>{{activeWell.SeriesType| placeholder: "Not provided"}}</dd>
                            <dt>SeriesEnd:</dt>
                            <dd>{{activeWell.SeriesEnd| placeholder: "Not provided"}}</dd>
                            <dt>PumpRate:</dt>
                            <dd>{{activeWell.PumpRate| placeholder: "Not provided"}}</dd>
                            <dt>PColDiam:</dt>
                            <dd>{{activeWell.PColDiam| placeholder: "Not provided"}}</dd>
                            <dt>PumpDepth:</dt>
                            <dd>{{activeWell.PumpDepth| placeholder: "Not provided"}}</dd>
                            <dt>TotalDepth:</dt>
                            <dd>{{activeWell.TotalDepth| placeholder: "Not provided"}}</dd>
                            <dt>SWL:</dt>
                            <dd>{{activeWell.SWL| placeholder: "Not provided"}}</dd>
                            <dt>PWL:</dt>
                            <dd>{{activeWell.PWL| placeholder: "Not provided"}}</dd>
                            <dt>CertifID:</dt>
                            <dd>{{activeWell.CertifID| placeholder: "Not provided"}}</dd>
                            <dt>OwnerID:</dt>
                            <dd>{{activeWell.OwnerID| placeholder: "Not provided"}}</dd>
                            <dt>FirstName:</dt>
                            <dd>{{activeWell.FirstName| placeholder: "Not provided"}}</dd>
                            <dt>LastName:</dt>
                            <dd>{{activeWell.LastName| placeholder: "Not provided"}}</dd>
                            <dt>Address:</dt>
                            <dd>{{activeWell.Address| placeholder: "Not provided"}}</dd>
                            <dt>CityNameID:</dt>
                            <dd>{{activeWell.CityNameID| placeholder: "Not provided"}}</dd>
                            <dt>StateRID:</dt>
                            <dd>{{activeWell.StateRID| placeholder: "Not provided"}}</dd>
                            <dt>PostalCD:</dt>
                            <dd>{{activeWell.PostalCD| placeholder: "Not provided"}}</dd>
                            <dt>RegDate:</dt>
                            <dd>{{activeWell.RegDate| placeholder: "Not provided"}}</dd>
                            <dt>Compdate:</dt>
                            <dd>{{activeWell.Compdate| placeholder: "Not provided"}}</dd>
                            <dt>LastChgDat:</dt>
                            <dd>{{activeWell.LastChgDat| placeholder: "Not provided"}}</dd>
                            <dt>DecommDate:</dt>
                            <dd>{{activeWell.DecommDate| placeholder: "Not provided"}}</dd>
                            <dt>LatDD:</dt>
                            <dd>{{activeWell.LatDD| placeholder: "Not provided"}}</dd>
                            <dt>LongDD:</dt>
                            <dd>{{activeWell.LongDD| placeholder: "Not provided"}}</dd>
                            <dt>CalcGPS:</dt>
                            <dd>{{activeWell.CalcGPS| placeholder: "Not provided"}}</dd>
                            <dt>Hyperlink:</dt>
                            <dd>{{activeWell.Hyperlink| placeholder: "Not provided"}}</dd>
                            <dt>tpid_OBJECTID:</dt>
                            <dd>{{activeWell.tpid_OBJECTID| placeholder: "Not provided"}}</dd>
                            <dt>tpid_regcd:</dt>
                            <dd>{{activeWell.tpid_regcd| placeholder: "Not provided"}}</dd>
                            <dt>tpid:</dt>
                            <dd>{{activeWell.tpid| placeholder: "Not provided"}}</dd>
                        </dl>
                        <em *ngIf="activeWell.arcError">The well was not found in the GIS layer.</em>

                        <button type="button" class="btn btn-zybach mt-2" (click)="clearSelection($event)"><i
                                class="fas fa-long-arrow-alt-left mr-1"></i>View all wells</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="col-lg-9 pl-0 pr-0">
        <div #mapDiv id={{mapID}} class="location-card" [style.min-height]="mapHeight" style="height:100%">
            <button *ngIf="searchActive" (click)="displayTraceOrZoomToNeighborhood($event)" class="btn btn-zybach"
                style="position:absolute; bottom:10px; right:10px; z-index:100000">{{traceActive ? "Zoom to my Neighborhood" : "Where does my water go?"}}</button>
        </div>
    </div>

    <div class="col-12 d-lg-none">
        <div class="row">
            <div class="col">
                This is where stuff can go!
            </div>
        </div>
    </div>

</div>