<header-nav></header-nav>
<div class="mh-auto min-vh-100">
    <router-outlet></router-outlet>
</div>
<footer class="footer pb-2">
    <div class="container">
        <br>
        <div class="row">
            <div class="col no-gutters text-center">
                <a href="https://tpnrd.org/" alt="" target="_blank">
                    <img src="assets/main/logos/logo.png" style="height: 125px;;">
                </a>
            </div>
            <div class="col no-gutters text-center">
                <a href="https://sitkatech.com/" alt="Sitka Technology Group" target="_blank">
                    <img src="assets/main/logos/sitkatech-logo2x.width-600.png" style="height: 125px;">
                </a>
            </div>
        </div>
    </div>
</footer>