<header-nav></header-nav>
<div class="mh-auto min-vh-100">
    <router-outlet></router-outlet>
</div>
<footer class="footer pb-2">
    <div class="container">
        <br>
        <div class="row">
            <div class="col no-gutters text-center">
                <a href="https://tpnrd.org/" alt="" target="_blank">
                    <img src="assets/main/logos/logo.png" style="height: 75px;">
                </a>
            </div>
            <div class="col no-gutters text-center">
                <a href="https://www.olsson.com/" alt="" target="_blank">
                    <img src="assets/main/logos/Olsson_RGB_full-color-01.png" style="height: 75px;">
                </a>
            </div>
            <div class="col no-gutters text-center">
                <a href="http://paigewireless.com/" alt="" target="_blank">
                    <img src="assets/main/logos/paige.png" style="height: 75px;">
                </a>
            </div>
            <div class="col no-gutters text-center">
                <a href="https://www.gisc.coop/" alt="" target="_blank">
                    <img src="assets/main/logos/gisc.png" style="height: 65px;">
                </a>
            </div>
            <div class="col no-gutters text-center">
                <a href="https://sitkatech.com/" alt="Sitka Technology Group" target="_blank">
                    <img src="assets/main/logos/logo_Sitka_white.png" style="height: 75px;">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                © {{currentYear}} Sitka Technology Group, LLC. All Rights Reserved.
            </div>
        </div>

    </div>
    <div id="plugin-scripts"></div>
</footer>