<nav aria-label="breadcrumb" *ngIf="well || wellFromArc">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
            <a routerLink="/map-explorer">Wells</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{wellCanonicalName}}
        </li>
    </ol>
</nav>

<div class="container mt-sm-4">

    <app-alert-display></app-alert-display>

    <ng-container *ngIf="well || wellFromArc">
        <div class="row">
            <div class="col">
                <h2 class="d-inline-block">
                    {{wellCanonicalName}}
                </h2>
            </div>
            <div class="col text-right">
                <button type="button" *ngIf="timeSeriesData" class="btn btn-zybach mr-2"
                    (click)="openTimeSeriesExplorer()">Open Time Series Viewer</button>

            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Basics
                    </div>
                    <div class="card-body" *ngIf="wellFromArc">
                        <dl class="row">
                            <dt class="text-sm-right col-sm-5 col-xs-12">Well Name</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.RegistrationNumber}}
                                <em *ngIf="!wellPropertiesFromArc.RegistrationNumber" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Status</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.Status}}
                                <em *ngIf="!wellPropertiesFromArc.Status" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">NRD</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.NRDName}}
                                <em *ngIf="!wellPropertiesFromArc.NRDName" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">County</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.CountyName}}
                                <em *ngIf="!wellPropertiesFromArc.CountyName" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">TRS</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.Location}}
                                <em *ngIf="!wellPropertiesFromArc.CountyName" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Irrigated Acres</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.Acres}}
                                <em *ngIf="!wellPropertiesFromArc.Acres" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Owner</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{owner()}}
                                <em *ngIf="!owner()" class="text-muted">Not Available</em>
                            </dd>
                        </dl>
                    </div>
                    <div class="card-body" *ngIf="!wellFromArc">
                        <em>The well was not found in the GIS layer.</em>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf="wellFromArc || well">
                <div class="card">
                    <div class="card-header">
                        Location
                    </div>
                    <div class="card-body">
                        <div id="{{mapID}}" style="height: 300px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Sensor Installation Details
                    </div>
                    <div class="card-body" *ngIf="installationRecordSimple">
                        <dl class="row">
                            <dt class="text-sm-right col-sm-5 col-xs-12">Installer Affiliation</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.affiliation}}
                                <em *ngIf="!installationRecordSimple?.affiliation" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Installer Initials</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.initials}}
                                <em *ngIf="!installationRecordSimple?.initials" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Install Date</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.date | date}}
                                <em *ngIf="!installationRecordSimple?.date" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">GPS Location</dt>
                            <dd class="col-sm-7 col-xs-12">
                                <ng-container *ngIf="installationRecordSimple?.lat && installationRecordSimple?.lon">
                                    lat: {{installationRecordSimple.lat | number }}, lng: {{installationRecordSimple.lon | number}}
                                </ng-container>
                                <em *ngIf="!installationRecordSimple?.lat || !installationRecordSimple?.lon"
                                    class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Sensor Type</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.sensorType}}
                                <em *ngIf="!installationRecordSimple?.sensorType" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Continuity Sensor Model</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.continuitySensorModel}}
                                <em *ngIf="!installationRecordSimple?.continuitySensorModel" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Flow Sensor Model</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.flowSensorModel}}
                                <em *ngIf="!installationRecordSimple?.flowSensorModel" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Pressure Sensor Model</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.pressureSensorModel}}
                                <em *ngIf="!installationRecordSimple?.pressureSensorModel" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Well Depth</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.wellDepth}}
                                <em *ngIf="!installationRecordSimple?.wellDepth" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Install Depth</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.installDepth}}
                                <em *ngIf="!installationRecordSimple?.installDepth" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Cable Length</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.cableLength}}
                                <em *ngIf="!installationRecordSimple?.cableLength" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Water Level</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{installationRecordSimple.waterLevel}}
                                <em *ngIf="!installationRecordSimple?.waterLevel" class="text-muted">Not Available</em>
                            </dd>
                        </dl>
                    </div>
                    <div class="card-body" *ngIf="!installationCanonicalName">
                        <em>No sensor installation was found in GeoOptix for this well.</em>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        External Resources
                    </div>
                    <div class="card-body">
                        <p class="m-0" *ngIf="well">
                            <a target="_blank" href="{{wellInGeoOptixUrl()}}">
                                View Well Details in GeoOptix <i class="fas fa-external-link-alt ml-1"></i>
                            </a>
                        </p>
                        <p class="m-0" *ngIf="sensorCanonicalName">
                            <a target="_blank" [href]="sensorInGeoOptixUrl()">
                                View Sensor Details in GeoOptix <i class="fas fa-external-link-alt ml-1"></i>
                            </a>
                        </p>
                        <p class="m-0" *ngIf="wellFromArc">
                            <a target="_blank" [href]="nednrUrl()">
                                View in Nebraska DNR GIS<i class="fas fa-external-link-alt ml-1"></i>
                            </a>
                        </p>
                        <p class="m-0" *ngIf="timeSeriesData">
                            <a (click)="downloadTimeSeriesCsv()" href="javaScript:void(0)">
                                Download Time Series CSV <i class="fas fa-download"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4" *ngIf="photoDataUrls.length">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Photo
                    </div>
                    <div class="card-body">
                        <img *ngFor="let photoDataUrl of photoDataUrls" [src]="photoDataUrl" style="width:100%;" />
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<go-time-series-viewer *ngIf="showTimeSeriesExplorer" [timeSeriesData]="timeSeriesData"
    [timeSeriesTitle]="timeSeriesTitle()" (close)="showTimeSeriesExplorer = false"></go-time-series-viewer>