

dl.inline dt, dl.inline dd {
    float: left;
    margin: 0 0.5em 0 0;
}

dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}

dl.inline dd + dd {
    float: none
}

dl.inline dt {
    font-weight: bold
}


@media screen and (min-width: 576px){
    .label{
        text-align: right;
    }
}