<nav aria-label="breadcrumb" *ngIf="well || wellFromArc">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
            <a routerLink="/map-explorer">Wells</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{canonicalName}}
        </li>
    </ol>
</nav>

<div class="container mt-sm-4">

    <app-alert-display></app-alert-display>

    <ng-container *ngIf="well || wellFromArc">
        <div class="row">
            <div class="col">
                <h2 class="d-inline-block">
                    {{canonicalName}}
                </h2>
            </div>
            <div class="col text-right">
                <button type="button" *ngIf="timeSeriesData" class="btn btn-zybach" (click)="openTimeSeriesExplorer()">Open Time Series Explorer</button>
                <a *ngIf="wellFromArc" class="btn btn-zybach" target="_blank" [href]="wellPropertiesFromArc.Hyperlink">View in NEDNR GIS <i class="fas fa-external-link-alt ml-1"></i></a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Basics
                    </div>
                    <div class="card-body" *ngIf="wellFromArc">
                        <dl class="row">
                            <dt class="text-sm-right col-sm-5 col-xs-12">Well Name</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.RegCD}}
                                <em *ngIf="!wellPropertiesFromArc.RegCD" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Status</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.Status}}
                                <em *ngIf="!wellPropertiesFromArc.Status" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">NRD</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.NrdName}}
                                <em *ngIf="!wellPropertiesFromArc.NrdName" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">County</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.Countyname}}
                                <em *ngIf="!wellPropertiesFromArc.Countyname" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">TRS</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{trs()}}
                                <em *ngIf="!trs()" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Irrigated Acres</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{wellPropertiesFromArc.Acres}}
                                <em *ngIf="!wellPropertiesFromArc.Acres" class="text-muted">Not Available</em>
                            </dd>
                            <dt class="text-sm-right col-sm-5 col-xs-12">Owner</dt>
                            <dd class="col-sm-7 col-xs-12">
                                {{owner()}}
                                <em *ngIf="!owner()" class="text-muted">Not Available</em>
                            </dd>
                        </dl>
                    </div>
                    <div class="card-body" *ngIf="!wellFromArc">
                        <em>The well was not found in the GIS layer.</em>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf="wellFromArc || well">
                <div class="card">
                    <div class="card-header">
                        Location
                    </div>
                    <div class="card-body">
                        <div id="{{mapID}}" style="height: 300px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Time Series Explorer
                        <button type="button" *ngIf="timeSeriesData" class="btn btn-zybach float-right" (click)="downloadTimeSeriesCsv()">
                            Download CSV
                        </button>
                    </div>
                    <div class="card-body" *ngIf="well">
                        <em *ngIf="!timeSeriesData">{{noTimeSeriesDataMessage}}</em>
                        <ngContainer *ngIf="timeSeriesData">
                            <a _target="blank" [href]="timeSeriesInGeoOptixUrl()">View sensor details in GeoOptix <i class="fas fa-external-link-alt ml-1"></i></a>
                        </ngContainer>
                    </div>
                    <div class="card-body" *ngIf="!well">
                        <em>The well was not found in GeoOptix</em>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<go-time-series-viewer *ngIf="showTimeSeriesExplorer" [timeSeriesData]="timeSeriesData"
    [timeSeriesTitle]="timeSeriesTitle()" (close)="showTimeSeriesExplorer = false"></go-time-series-viewer>