<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/well-map">Wells</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{wellRegistrationID}}</li>
    </ol>
</nav>
<div class="container">
    <app-alert-display></app-alert-display>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Basics
                            <div class="float-right">
                                <a [ngClass]="{'btn': true, 'btn-zybach': true, 'btn-sm': true, 'float-right': true, 'disabled': isInAgHubOrGeoOptix}"
                                    routerLink="/wells/{{wellID}}/edit-registration-id">
                                    <span class="fas fa-edit"></span> Edit Reg. ID
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" *ngIf="well">
                                <div class="col-12  col-sm-6 label"><strong>Registration ID: </strong> </div>
                                <div class="col-12  col-sm-6">{{well.WellRegistrationID}}</div>
                                <div class="col-12  col-sm-6 label"><strong>In AgHub? </strong></div>
                                <div class="col-12  col-sm-6">{{well.InAgHub ? "Yes" : "No"}}</div>
                                <div class="col-12  col-sm-6 label"><strong>In GeoOptix? </strong></div>
                                <div class="col-12  col-sm-6">{{well.InGeoOptix ? "Yes" : "No"}}</div>
                                <div class="col-12  col-sm-6 label"><strong>TPID: </strong></div>
                                <div class="col-12  col-sm-6">{{well.WellTPID}}</div>
                                <div class="col-12  col-sm-6 label"><strong>AgHub Registered User: </strong></div>
                                <div class="col-12  col-sm-6">{{well.AgHubRegisteredUser}}</div>
                                <div class="col-12  col-sm-6 label"><strong>Field Name: </strong></div>
                                <div class="col-12  col-sm-6">{{well.FieldName}}</div>
                                <div class="col-12  col-sm-6 label"><strong>{{getDataSourcesLabel()}}</strong></div>
                                <div class="col-12  col-sm-6">
                                    <p *ngFor="let sensorType of getSensorTypes()" class="m-0">
                                        {{sensorType}}
                                    </p>
                                    <p *ngIf="well.hasElectricalData" class="m-0">
                                        Electrical Usage
                                    </p>
                                </div>
                                <div class="col-12  col-sm-6 label"><strong>Last Reading Date: </strong></div>
                                <div class="col-12  col-sm-6">{{getLastReadingDate()}}</div>
                                <div class="col-12  col-sm-6 label"><strong>Irrigated Acres: </strong></div>
                                <div class="col-12  col-sm-6">
                                    <ng-container *ngIf="displayIrrigatedAcres(); else irrigatedAcresPerYearEmpty">
                                        <p *ngFor="let result of getWellIrrigatedAcresPerYear()" class="m-0">
                                            {{result.Acres}} ac in {{result.Year}}
                                        </p>
                                    </ng-container>
                                    <ng-template #irrigatedAcresPerYearEmpty>
                                        <em>Irrigated Acres are not available for this parcel</em>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="row" *ngIf="!well">
                                <div class="col text-center">
                                    <span class="fas fa-spinner loading-spinner"></span>
                                    <p>Loading...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Contact Information
                            <div class="float-right">
                                <a class="btn btn-zybach btn-sm float-right"
                                    routerLink="/wells/{{wellID}}/edit-contact">
                                    <span class="fas fa-edit"></span> Edit
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" *ngIf="well">
                                <div class="col-12  col-sm-6 label"><strong>Owner: </strong> </div>
                                <div class="col-12  col-sm-6" [innerHtml]="getWellOwner()"></div>
                                <div class="col-12  col-sm-6 label"><strong>Additional Contact: </strong></div>
                                <div class="col-12  col-sm-6" [innerHtml]="getWellAdditionalContact()"></div>
                                <div class="col-12  col-sm-6 label"><strong>Township, Range, Section:</strong></div>
                                <div class="col-12  col-sm-6">{{well.TownshipRangeSection}}</div>
                                <div class="col-12  col-sm-6 label"><strong>County: </strong></div>
                                <div class="col-12  col-sm-6">{{well.County}}</div>
                                <div class="col-12  col-sm-6 label"><strong>Nickname: </strong></div>
                                <div class="col-12  col-sm-6">{{well.WellNickname}}</div>
                                <div class="col-12  col-sm-6 label"><strong>Notes: </strong></div>
                                <div class="col-12  col-sm-6">{{well.Notes}}</div>
                            </div>
                            <div class="row" *ngIf="!well">
                                <div class="col text-center">
                                    <span class="fas fa-spinner loading-spinner"></span>
                                    <p>Loading...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
    
                    <div class="card">
                        <div class="card-header">
                            Annual Pumped Volume
                            <div class="btn-group btn-group-toggle float-right">
                                <label class="btn btn-toggle btn-sm btn-zybach" [ngClass]="unitsShown === 'gal' ? 'active' : ''">
                                  <input type="radio" name="units" id="gal" (click)="toggleUnitsShown('gal')"> Volume&nbsp;(gal)
                                </label>
                                <label class="btn btn-toggle btn-sm btn-zybach" [ngClass]="[unitsShown === 'in' ? 'active' : '', displayIrrigatedAcres() ? '' : 'disabled']" style="width:100px">
                                  <input type="radio" name="units" id="in" (click)="toggleUnitsShown('in')" [disabled]="!displayIrrigatedAcres()"> Depth&nbsp;(in)
                                </label>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <table class="table table-responsive table-striped" *ngIf="well">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Year</th>
                                        <th>Flow Meter</th>
                                        <th>Continuity Meter</th>
                                        <th>Electrical Usage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let year of years">
                                        <td style="text-align: center;">{{year}}</td>
                                        <td>{{getAnnualPumpedVolume(year, "Flow Meter")}}</td>
                                        <td>{{getAnnualPumpedVolume(year, "Continuity Meter")}}</td>
                                        <td>{{getAnnualPumpedVolume(year, "Electrical Usage")}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-container *ngIf="!well">
                                <span class="fas fa-spinner loading-spinner"></span>
                                <p>Loading...</p>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Location
                        </div>
                        <div class="card-body">
                            <div #wellLocation style="height:300px;"></div>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Program Participation
                            <div class="float-right">
                                <a class="btn btn-zybach btn-sm float-right"
                                    routerLink="/wells/{{wellID}}/edit-participation">
                                    <span class="fas fa-edit"></span> Edit
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" *ngIf="well">
                                <div class="col-12 col-sm-6">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 label"><strong>Participation? </strong> </div>
                                        <div class="col-12 col-sm-6">{{well.WellParticipationName}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Well Use: </strong></div>
                                        <div class="col-12 col-sm-6">{{well.WellUseName}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Chemigation? </strong></div>
                                        <div class="col-12 col-sm-6">{{well.RequiresChemigation ? "Yes" : "No"}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Water Level? </strong></div>
                                        <div class="col-12 col-sm-6">{{well.RequiresWaterLevelInspection ? "Yes" : "No"}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Water Quality? </strong></div>
                                        <div class="col-12 col-sm-6">{{well.WaterQualityInspectionTypes}}</div>
                                    </div>  
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 label"><strong>Clearinghouse ID: </strong></div>
                                        <div class="col-12 col-sm-6">{{well.Clearinghouse}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Site Name: </strong></div>
                                        <div class="col-12 col-sm-6">{{well.SiteName}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Site Number: </strong></div>
                                        <div class="col-12 col-sm-6">{{well.SiteNumber}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Replacement Well? </strong></div>
                                        <div class="col-12 col-sm-6">{{well.IsReplacement ? "Yes" : "No"}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Well Depth: </strong></div>
                                        <div class="col-12 col-sm-6">{{well.WellDepth}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Screen Interval: </strong></div>
                                        <div class="col-12 col-sm-6">{{well.ScreenInterval}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Screen Depth: </strong></div>
                                        <div class="col-12 col-sm-6">{{well.ScreenDepth}}</div>
                                        <div class="col-12 col-sm-6 label"><strong>Page #: </strong></div>
                                        <div class="col-12 col-sm-6">{{well.PageNumber}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="!well">
                                <div class="col text-center">
                                    <span class="fas fa-spinner loading-spinner"></span>
                                    <p>Loading...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Sensors
                        </div>
                        <div class="card-body text-center">
                            <table class="table table-responsive table-striped" *ngIf="well">
                                <thead>
                                    <tr>
                                        <th>Sensor Name</th>
                                        <th>Sensor Type</th>
                                        <th>Last Message Age (Hours)</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sensor of sensorsWithStatus">
                                        <td>{{sensor.SensorName}}</td>
                                        <td>{{sensor.SensorType}}</td>
                                        <td>{{sensor.MessageAge}}</td>
                                        <td>
                                            <div class="btn-group btn-group-toggle float-right">
                                                <label class="btn btn-toggle btn-sm btn-zybach" [ngClass]="sensor.IsActive ? 'active' : ''">
                                                  <input type="radio" name="sensorIsActive" (click)="toggleIsActive(sensor.SensorName, true)" [disabled]="sensor.IsActive"> Enabled
                                                </label>
                                                <label class="btn btn-toggle btn-sm btn-zybach" [ngClass]="!sensor.IsActive ? 'active' : ''">
                                                  <input type="radio" name="sensorIsActive" (click)="toggleIsActive(sensor.SensorName, false)" [disabled]="!sensor.IsActive"> Disabled
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-container *ngIf="!well">
                                <span class="fas fa-spinner loading-spinner"></span>
                                <p>Loading...</p>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Flow Measurements
                    <a *ngIf="!noTimeSeriesData" class="btn btn-sm btn-zybach float-right" (click)="exportChartData()"><span class="fas fa-download"></span> Download CSV</a>
                </div>
                <div class="card-body">
                    <div class="row" *ngIf="!timeSeries">
                        <div class="col text-center">
                            <span class="fas fa-spinner loading-spinner"></span>
                            <p>Loading...</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="!noTimeSeriesData">
                        <div class="input-group col-4">
                            <span class="font-weight-bold mt-1 mx-3">Date Range:</span>
                            <!-- input box -->
                            <input id="dateRangeInput" class="form-control" name="mydate" placeholder="Select a date" 
                                   angular-mydatepicker #dp="angular-mydatepicker" 
                                   [(ngModel)]="dateRange" [options]="myDpOptions"
                                   (dateChanged)="onDateChanged($event)"/>
                          
                            <!-- toggle calendar button -->
                            <div class="input-group-append">
                              <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                                <i class="fa fa-calendar-o"></i>
                              </button>
                            </div>
                          
                          </div>
                          <div class="col-2">
                              <button type="button" class="btn btn-zybach" (click)="useFullDateRange()">Use Full Date Range</button>
                          </div>

                    </div>
                    <div *ngIf="!noTimeSeriesData" id="{{chartID}}" style="width:100%; min-height: 340px;"></div>
                    <em *ngIf="!noTimeSeriesData">All data are displayed in Central Daylight Time</em>
                    <em *ngIf="noTimeSeriesData">No time series data available for this well.</em>
                </div>
            </div>
        </div>
    </div>  

    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Inspections
                </div>
                <div class="card-body">
                    <div class="row">

                            <div class="col-sm">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="d-inline-block">Water Level</h5>
                                        <button class="btn btn-secondary btn-md float-right m-2" style="cursor: pointer;" (click)="exportWLIToCsv()" placement="top"
                                        ngbTooltip="Download as CSV"><i class="fas fa-download"></i></button>
                                        <fresca-clear-grid-filters-button class="m-2 float-right" [grid]="waterLevelInspectionsGrid">
                                        </fresca-clear-grid-filters-button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <ag-grid-angular #waterLevelInspectionsGrid style="width: 100%; height: 200px;" 
                                        class="ag-theme-balham"
                                        [columnDefs]="waterLevelInspectionColumnDefs" [defaultColDef]="defaultColDef"
                                        [pagination]="true" [paginationPageSize]="10" [suppressMenuHide]="true">
                                    </ag-grid-angular>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="d-inline-block">Water Quality</h5>
                                        <button class="btn btn-secondary btn-md float-right m-2" style="cursor: pointer;" (click)="exportWQIToCsv()" placement="top"
                                        ngbTooltip="Download as CSV"><i class="fas fa-download"></i></button>
                                        <fresca-clear-grid-filters-button class="m-2 float-right" [grid]="waterQualityInspectionsGrid">
                                        </fresca-clear-grid-filters-button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <ag-grid-angular #waterQualityInspectionsGrid style="width: 100%; height: 200px;" 
                                        class="ag-theme-balham"
                                        [columnDefs]="waterQualityInspectionColumnDefs" [defaultColDef]="defaultColDef"
                                        [pagination]="true" [paginationPageSize]="10" [suppressMenuHide]="true">
                                    </ag-grid-angular>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Chemigation
                </div>
                <div class="card-body">

                    <div *ngIf="chemigationPermits && chemigationPermits.length > 0; then hasChemigationPermits else noChemigationPermits"></div>
                    <ng-template #hasChemigationPermits>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Permit #</th>
                                    <th>Status</th>
                                    <th>Last Inspected</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let chemigationPermit of chemigationPermits">
                                    <td><a routerLink="/chemigation-permits/{{chemigationPermit.ChemigationPermitNumber}}">{{chemigationPermit.ChemigationPermitNumberDisplay}}</a></td>
                                    <td>{{chemigationPermit.ChemigationPermitStatus.ChemigationPermitStatusDisplayName}}</td>
                                    <td>{{chemigationPermit.LatestInspection.InspectionDate | date:'MM/dd/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                    <ng-template #noChemigationPermits>
                        <p class="font-italic">
                            No Chemigation Permits were found for this well.
                        </p>                        
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Installation Details
                    <a *ngIf="well?.InGeoOptix" class="btn btn-zybach btn-sm float-right" target="_blank" href="{{wellInGeoOptixUrl()}}">
                        View Well Details in GeoOptix <i class="fas fa-external-link-alt ml-1"></i>
                    </a>
                </div>
                <div class="card-body">
                    <ng-container *ngFor="let installation of installations; index as i">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12  col-sm-6 label"><strong>Installation Name: </strong> </div>
                                    <div class="col-12  col-sm-6">{{installation.InstallationCanonicalName}}</div>
                                    <div class="col-12  col-sm-6 label"><strong>Installation Status: </strong> </div>
                                    <div class="col-12  col-sm-6">{{installation.Status}}</div>
                                    <div class="col-12  col-sm-6 label"><strong>Installation Date: </strong></div>
                                    <div class="col-12  col-sm-6">{{getInstallationDate(installation)}}</div>
                                    <div class="col-12  col-sm-6 label"><strong>GPS Location: </strong></div>
                                    <div class="col-12  col-sm-6">lat: {{installation.Latitude | number: '1.0-3'}}, lng:
                                        {{installation.Longitude | number: '1.0-3'}}</div>
                                    <div class="col-12  col-sm-6 label"><strong>Flowmeter Serial Number: </strong></div>
                                    <div class="col-12  col-sm-6">{{installation.FlowmeterSerialNumber}}</div>
                                    <div class="col-12  col-sm-6 label"><strong>Sensor Serial Number: </strong></div>
                                    <div class="col-12  col-sm-6">{{installation.SensorSerialNumber}}</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 text-center">
                                <carousel *ngIf="installationPhotos[installation.InstallationCanonicalName]?.length > 1"
                                    [images]="installation.PhotoDataUrls" [height]="300" [cellsToShow]="1"
                                    [objectFit]="contain" [dots]="true">
                                </carousel>

                                <img *ngIf="installationPhotos[installation.InstallationCanonicalName]?.length === 1" class="img img-fluid" src="{{installation.PhotoDataUrls[0].path}}"
                                    style="height: 300px" />

                                <ng-container *ngIf="!installationPhotos[installation.InstallationCanonicalName]?.length">
                                    <span class="fas fa-spinner loading-spinner"></span>
                                    <p>Loading...</p>
                                </ng-container>

                                <img *ngIf="installationPhotos[installation.InstallationCanonicalName]?.length === 0" class="img img-fluid" style="height:300px"
                                    src="/assets/main/no-photo-available.jpg" />
                            </div>
                        </div>
                        <hr *ngIf="i != installations.length - 1" />
                    </ng-container>
                    <ng-container *ngIf="!installations">
                        <div class="row text-center">
                            <span class="fas fa-spinner loading-spinner"></span>
                            <p>Loading...</p>
                        </div>
                    </ng-container>
                    <p class="font-italic" *ngIf="installations?.length === 0">
                        No Installations Records were found for this well.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>