<div class="row col-12 mt-2">
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-header">
                Annual Pumped Volume
                <div class="btn-group btn-group-toggle float-right">
                    <label class="btn btn-toggle btn-sm btn-zybach" [ngClass]="unitsShown === 'gal' ? 'active' : ''">
                      <input type="radio" name="units" id="gal" (click)="toggleUnitsShown('gal')"> Volume&nbsp;(gal)
                    </label>
                    <label class="btn btn-toggle btn-sm btn-zybach" [ngClass]="[unitsShown === 'in' ? 'active' : '', displayIrrigatedAcres() ? '' : 'disabled']" style="width:100px">
                      <input type="radio" name="units" id="in" (click)="toggleUnitsShown('in')" [disabled]="!displayIrrigatedAcres()"> Depth&nbsp;(in)
                    </label>
                </div>
            </div>
            <div class="card-body text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Year</th>
                            <th>Flow Meter</th>
                            <th>Continuity Meter</th>
                            <th>Electrical Usage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let year of years">
                            <td style="text-align: center;">{{year}}</td>
                            <td>{{getAnnualPumpedVolume(year, "Flow Meter")}}</td>
                            <td>{{getAnnualPumpedVolume(year, "Continuity Meter")}}</td>
                            <td>{{getAnnualPumpedVolume(year, "Electrical Usage")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-header">
                Sensors
            </div>
            <div class="card-body text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sensor Name</th>
                            <th>Sensor Type</th>
                            <th>Last Message Age (Hours)</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sensor of sensorsWithStatus">
                            <td><a routerLink="/sensors/{{sensor.SensorID}}">{{sensor.SensorName}}</a></td>
                            <td>{{sensor.SensorType}}</td>
                            <td>{{sensor.MessageAge}}</td>
                            <td>{{sensor.IsActive ? 'Enabled' : 'Disabled'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row col-12 mt-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Flow Measurements
                <a *ngIf="!noTimeSeriesData" class="btn btn-sm btn-zybach float-right" (click)="exportChartData()"><span class="fas fa-download"></span> Download CSV</a>
            </div>
            <div class="card-body">
                <div class="row" *ngIf="!timeSeries">
                    <div class="col text-center">
                        <span class="fas fa-spinner loading-spinner"></span>
                        <p>Loading...</p>
                    </div>
                </div>
                <div class="row" *ngIf="!noTimeSeriesData">
                    <div class="input-group col-4">
                        <span class="font-weight-bold mt-1 mx-3">Date Range:</span>
                        <!-- input box -->
                        <input id="dateRangeInput" class="form-control" name="mydate" placeholder="Select a date" 
                               angular-mydatepicker #dp="angular-mydatepicker" 
                               [(ngModel)]="dateRange" [options]="myDpOptions"
                               (dateChanged)="onDateChanged($event)"/>
                      
                        <!-- toggle calendar button -->
                        <div class="input-group-append">
                          <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                            <i class="fa fa-calendar-o"></i>
                          </button>
                        </div>
                      
                      </div>
                      <div class="col-2">
                          <button type="button" class="btn btn-zybach" (click)="useFullDateRange()">Use Full Date Range</button>
                      </div>

                </div>
                <div *ngIf="!noTimeSeriesData" id="{{chartID}}" style="width:100%; min-height: 340px;"></div>
                <em *ngIf="!noTimeSeriesData">All data are displayed in Central Daylight Time</em>
                <em *ngIf="noTimeSeriesData">No time series data available for this well.</em>
            </div>
        </div>
    </div>
</div>  