@import "~src/scss/_variables.scss";

.dropdown-menu {
    z-index: 1021;
}
  
.dropdown-item:hover {
    background-color: $select-and-nav-dropdown-hover;
}

h4, h5 {
    color: $primary;
}


li.list-group-item.header {
    cursor:pointer;
    background-color: #dfdfdf;
    color: #000;
    border-top:0;
}

li.list-group-item.header:hover {
    background-color:#EEE;
    color: #fff;
    background-color: $button-toggle-hover;
}

li.list-group-item.header.selected {
    background-color:  $button-border-and-background;
    color: #EEE;
}