<nav aria-label="breadcrumb" *ngIf="chemigationPermit">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/chemigation-permits">Chemigation Permits</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Chemigation Permit
            #{{chemigationPermit?.ChemigationPermitNumberDisplay }}</li>
    </ol>
</nav>
<app-alert-display></app-alert-display>
<div class="row container" *ngIf="chemigationPermit">
    <div class="col-12">
        <h2 class="d-inline-block">Chemigation Permit #{{chemigationPermit.ChemigationPermitNumberDisplay}}</h2>
        <a class="btn btn-zybach btn-md mr-3 float-right disabled" routerLink="/"> Approve Annual Renewal </a>
        <a class="btn btn-zybach btn-md mr-3 float-right disabled" routerLink="/"> Schedule Inspection </a>
    </div>
    <div class="row container" *ngIf="chemigationPermit">
        <div class="col-12 col-sm-6 label"><strong>Well: </strong></div>
        <div class="col-12 col-sm-6"><a *ngIf="chemigationPermit.Well" routerLink="/wells/{{chemigationPermit.Well.WellRegistrationID}}">{{chemigationPermit.Well.WellRegistrationID}}</a>
        </div>
        <div class="col-12 col-sm-6 label"><strong>Permit Status: </strong></div>
        <div class="col-12 col-sm-6">{{chemigationPermit.ChemigationPermitStatus.ChemigationPermitStatusDisplayName}}
        </div>
        <div class="col-12 col-sm-6 label"><strong>County: </strong></div>
        <div class="col-12 col-sm-6">{{chemigationPermit.County.CountyDisplayName}}</div>
        <div class="col-12 col-sm-6 label"><strong>Last Inspected Date: </strong></div>
        <div class="col-12 col-sm-6">{{latestInspection?.InspectionDate | date:'shortDate'}}
            <em *ngIf="!latestInspection?.InspectionDate" class="text-muted">N/A</em>
        </div>
    </div>
    <div class="row container">
        <div class="col-12">
            <a href="#" class="btn btn-zybach btn-md dropdown-toggle nav-link float-right" role="button" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">
                Other Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/chemigation-permits/{{chemigationPermit?.ChemigationPermitNumber}}/edit">
                    <span class="fas fa-edit"></span>
                    Edit Permit 
                </a>
                <a *ngIf="permitHasCurrentRecord()" class="dropdown-item disabled" routerLink="/chemigation-permits/{{chemigationPermit?.ChemigationPermitNumber}}/add-record">
                    <span class="fas fa-plus"></span> 
                    Create Renewal 
                </a>
                <a *ngIf="!permitHasCurrentRecord()" class="dropdown-item" routerLink="/chemigation-permits/{{chemigationPermit?.ChemigationPermitNumber}}/add-record">
                    <span class="fas fa-plus"></span> 
                    Create Renewal 
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 container">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div class="col-4 float-left pl-2">
                    <div class="row align-items-center">
                        <span class="far fa-calendar mr-2"> </span>
                        <zybach-water-year-select [(selectedYear)]="yearToDisplay"
                            (selectedYearChange)="updateAnnualData()" [(allYearsSelected)]="allYearsSelected"
                            (allYearsSelectedChange)="updateAnnualData()">
                        </zybach-water-year-select>
                    </div>
                </div>
                <div class="col-4 text-center pl-2">Annual Record</div>
                <div class="col-4 float-right" *ngIf="!currentYearAnnualRecord">
                    <a class="btn btn-zybach btn-sm float-right disabled">
                        <span class="fas fa-edit"></span> Edit Record
                    </a>
                </div>
                <div class="col-4 float-right" *ngIf="currentYearAnnualRecord">
                    <a class="btn btn-zybach btn-sm float-right"
                        routerLink="/chemigation-permits/{{chemigationPermit?.ChemigationPermitNumber}}/{{yearToDisplay}}/edit">
                        <span class="fas fa-edit"></span> Edit Record
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row col-12 text-center" *ngIf="!currentYearAnnualRecord">
                    <p><strong>No Annual Record available for this year</strong></p>
                </div>
                <div class="row col-12" *ngIf="currentYearAnnualRecord">
                    <div class="row col-12">
                        <div class="row col-6">
                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Annual Record Status: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>{{currentYearAnnualRecord.ChemigationPermitAnnualRecordStatusName}}
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Township, Range, Section: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>{{currentYearAnnualRecord.TownshipRangeSection}}
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Date Received: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>{{currentYearAnnualRecord.DateReceived | date:'shortDate'}}
                                        <em *ngIf="!currentYearAnnualRecord.DateReceived" class="text-muted">N/A</em>
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Date Paid: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>{{currentYearAnnualRecord.DatePaid | date:'shortDate'}}
                                        <em *ngIf="!currentYearAnnualRecord.DatePaid" class="text-muted">N/A</em>
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Date Approved: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>{{currentYearAnnualRecord.DateApproved | date:'shortDate'}}
                                        <em *ngIf="!currentYearAnnualRecord.DateApproved" class="text-muted">N/A</em>
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Pivot Name: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>
                                        {{currentYearAnnualRecord.PivotName}}
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Injection Unit Type: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>
                                        {{currentYearAnnualRecord.ChemigationInjectionUnitTypeName}}
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>NDEE Amount: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p *ngIf="currentYearAnnualRecord.NDEEAmount">
                                        ${{currentYearAnnualRecord.NDEEAmount | number: '1.2-2'}}
                                    </p>
                                    <em *ngIf="!currentYearAnnualRecord.NDEEAmount" class="text-muted">
                                        N/A
                                    </em>
                                </div>
                            </div>
        
                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Annual Record Notes: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p *ngIf="currentYearAnnualRecord.AnnualNotes">
                                        {{currentYearAnnualRecord.AnnualNotes}}
                                    </p>
                                    <em *ngIf="!currentYearAnnualRecord.AnnualNotes" class="text-muted">
                                        N/A
                                    </em>
                                </div>
                            </div>
                        </div>

                        <div class="row col-6">

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Applicant Company: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>
                                        {{currentYearAnnualRecord.ApplicantCompany}}
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Applicant First Name: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>
                                        {{currentYearAnnualRecord.ApplicantFirstName}}
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Applicant Last Name: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>
                                        {{currentYearAnnualRecord.ApplicantLastName}}
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Mailing Address: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>{{currentYearAnnualRecord.ApplicantMailingAddress}}</p>
                                    <p>{{currentYearAnnualRecord.ApplicantCity}},
                                        {{currentYearAnnualRecord.ApplicantState}}
                                        {{currentYearAnnualRecord.ApplicantZipCode}}</p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Phone: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>{{currentYearAnnualRecord.ApplicantPhone}}
                                        <em *ngIf="!currentYearAnnualRecord.ApplicantPhone" class="text-muted">N/A</em>
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Mobile: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>{{currentYearAnnualRecord.ApplicantMobilePhone}}
                                        <em *ngIf="!currentYearAnnualRecord.ApplicantMobilePhone"
                                            class="text-muted">N/A</em>
                                    </p>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-6 text-right">
                                    <p><strong>Email: </strong></p>
                                </div>
                                <div class="col-6 text-left">
                                    <p>{{currentYearAnnualRecord.ApplicantEmail}}
                                        <em *ngIf="!currentYearAnnualRecord.ApplicantEmail" class="text-muted">N/A</em>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12">
                        <hr class="w-90" />
                    </div>

                    <div class="col-12 table-responsive mb-4">
                        <h5>Certified Chemigation Applicators</h5>
                        <div *ngIf="currentYearAnnualRecord.Applicators.length > 0; then hasApplicators else noApplicators"></div>
                        <ng-template #hasApplicators>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Certification Number</th>
                                        <th>Expiration</th>
                                        <th>Home Phone</th>
                                        <th>Mobile Phone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let applicator of currentYearAnnualRecord.Applicators">
                                        <td>{{applicator.ApplicatorName}}</td>
                                        <td>{{applicator.CertificationNumber}}</td>
                                        <td>{{applicator.ExpirationYear}}</td>
                                        <td>{{applicator.HomePhone}}</td>
                                        <td>{{applicator.MobilePhone}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                        <ng-template #noApplicators>No certified chemigation applicators on file.</ng-template>
                    </div>

                    <div class="col-12">
                        <hr class="w-90" />
                    </div>

                    <div class="col-12 table-responsive mb-4">
                        <h5>Applied Chemicals</h5>
                        <div *ngIf="currentYearAnnualRecord.ChemicalFormulations.length > 0; then hasChemicalFormulations else noChemicalFormulations"></div>
                        <ng-template #hasChemicalFormulations>
                            <p>Chemicals that were used in the chemigation system in the past year</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Formulation</th>
                                        <th class="text-right">Total Applied</th>
                                        <th>Unit</th>
                                        <th class="text-right">Acres Treated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let chemicalFormulation of currentYearAnnualRecord.ChemicalFormulations">
                                        <td>{{chemicalFormulation.ChemicalFormulationName}}</td>
                                        <td class="text-right">{{chemicalFormulation.TotalApplied | number: '1.0-1'}}</td>
                                        <td>{{chemicalFormulation.ChemicalUnitName}}</td>
                                        <td class="text-right">{{chemicalFormulation.AcresTreated | number: '1.0-1'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                        <ng-template #noChemicalFormulations>No chemicals were used in the chemigation system in the past year.</ng-template>
                    </div>

                    <div class="col-12">
                        <hr class="w-90" />
                    </div>

                    <div class="col-12 mb-4">
                        <h5>Inspections</h5>
                        <div *ngIf="currentYearAnnualRecord.Inspections.length > 0 ; then hasInspections else noInspections"></div>
                        <ng-template #hasInspections>
                            <p>Chemigation inspections for the current record year</p>
                            
                            <div class="row col-2 float-right">
                                <a class="btn btn-zybach btn-md float-right mb-3 mr-3"
                                    routerLink="/chemigation-permits/{{chemigationPermit?.ChemigationPermitNumber}}/{{yearToDisplay}}/add-inspection">
                                    <span class="fas fa-plus"></span> Add Inspection
                                </a>

                            </div>

                            <div class="row col-12"></div>
                            
                            <div class="col-12">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a [ngClass]="{'nav-link': true, 'active': isFirst}" *ngFor="let inspection of getInspections(); first as isFirst"
                                            id="inspection-{{inspection.ChemigationInspectionID}}" data-toggle="tab" 
                                            href="#nav-inspection-{{inspection.ChemigationInspectionID}}" role="tab">
                                            <strong>{{inspection.InspectionDate | date:'shortDate'}} - {{inspection.ChemigationInspectionStatusName}}</strong>
                                        </a>
                                    </div>
                                </nav>
                            
                            </div>

                            <div class="tab-content col-12" id="nav-tabContent">
                                <div [ngClass]="{'tab-pane': true, 'fade': true, 'show': true, 'active': isFirst}" 
                                    *ngFor="let inspection of getInspections(); first as isFirst" 
                                    id="nav-inspection-{{inspection.ChemigationInspectionID}}" role="tabpanel">
                                    <div class="row col-12 mt-4">
                                        <div class="row col-6">
                                            
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Date: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.InspectionDate | date:'shortDate'}}
                                                        <em *ngIf="!inspection.InspectionDate" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>
                
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Inspection Type: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.ChemigationInspectionTypeName}}
                                                        <em *ngIf="!inspection.ChemigationInspectionTypeName" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>
                
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Inspector: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.Inspector?.FullNameLastFirst}}
                                                        <em *ngIf="!inspection.Inspector" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>
                
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Status: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.ChemigationInspectionStatusName}}
                                        
                                                    </p>
                                                </div>
                                            </div>
            
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Failure Reason: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.ChemigationInspectionFailureReasonName}}
                                                        <em *ngIf="!inspection.ChemigationInspectionFailureReasonName" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>
                
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Inspection Notes: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>
                                                        <em *ngIf="!inspection.InspectionNotes" class="text-muted">N/A</em>
                                                        {{inspection.InspectionNotes}}
                                                    </p>
                                                </div>
                                            </div>
                
                                        </div>
            
                                        <div class="row col-6">
            
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Mainline Check Valve: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.ChemigationMainlineCheckValveName}}
                                                        <em *ngIf="!inspection.ChemigationMainlineCheckValveName" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Low Pressure Valve: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.ChemigationLowPressureValveName}}
                                                        <em *ngIf="!inspection.ChemigationLowPressureValveName" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Chemigation Injection Valve: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.ChemigationInjectionValveName}}
                                                        <em *ngIf="!inspection.ChemigationInjectionValveName" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Interlock Type: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.ChemigationInterlockTypeName}}
                                                        <em *ngIf="!inspection.ChemigationInterlockTypeName" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Vacuum Relief Valve?: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.HasVacuumReliefValve ? 'Yes' : 'No'}}
                                                    </p>
                                                </div>
                                            </div>
            
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Inspection Port?: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.HasInspectionPort ? 'Yes' : 'No'}}
                                                    </p>
                                                </div>
                                            </div>
            
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Tillage: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.TillageName}}
                                                        <em *ngIf="!inspection.TillageName" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>
            
                                            <div class="row col-12">
                                                <div class="col-6 text-right">
                                                    <p><strong>Crop Type: </strong></p>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <p>{{inspection.CropTypeName}}
                                                        <em *ngIf="!inspection.CropTypeName" class="text-muted">N/A</em>
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <div *ngIf="isFirst" class="row col-6 mt-3 mr-3">
                                            <a class="btn btn-zybach btn-md mt-3 mr-3"
                                            routerLink="/chemigation-inspections/{{inspection.ChemigationInspectionID}}">
                                            <span class="fas fa-edit"></span> Edit Inspection
                                            </a>
                                            
                                            <button type="button" class="btn btn-zybach btn-md mt-3 mr-3" [disabled]="isPerformingAction" (click)="launchDeleteInspectionModal(inspection.ChemigationInspectionID)">
                                                <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                                                <span class="fas fa-trash"></span> Delete Inspection
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                        </ng-template>

                        <ng-template #noInspections>
                            <p>No inspection records found for this year.</p>
                            <div class="col-4 float-right">
                                <a class="btn btn-zybach btn-md float-right"
                                    routerLink="/chemigation-permits/{{chemigationPermit?.ChemigationPermitNumber}}/{{yearToDisplay}}/add-inspection">
                                    <span class="fas fa-plus"></span> Add Inspection
                                </a>
                            </div>
                        </ng-template>
                    </div>

                </div>
                <div class="row" *ngIf="!chemigationPermit">
                    <div class="col text-center">
                        <span class="fas fa-spinner loading-spinner"></span>
                        <p>Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteInspectionModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this inspection?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-zybach btn-sm" [disabled]="isPerformingAction" (click)="deleteInspectionByID()">
            <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
            Confirm
        </button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="modal.close('Cancel click')"
            [disabled]="isPerformingAction">
            Cancel
        </button>
    </div>
</ng-template>