<div class="container" *ngIf="!wellsGeoJson">
    <div class="row">
        <div class="col text-center">
            <span class="fas fa-spinner loading-spinner"></span>
            <p>Loading...</p>
        </div>
    </div>
</div>

<div class="container navCaretMargin" *ngIf="wellsGeoJson">
    <div class="col-12 col-md-6 mb-3">
        <h2 class="d-inline-block">Sensor Status</h2>
    </div>
    <zybach-sensor-status-map #wellMap [wellsGeoJson]="wellsGeoJson" (onWellSelected)="onMapSelection($event)"></zybach-sensor-status-map>
</div>
<div class="container navCaretMargin">
    <div class="row mt-2">
        <div class="col">
            <p>The following grid shows all sensors that have not sent a message in 8 or more hours, or with a most recent voltage reading of less than 2500 millivolts.</p>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary btn-md float-right mr-3" style="cursor: pointer;" (click)="downloadCsv()" placement="top"
            ngbTooltip="Download as CSV"><i class="fas fa-download"></i></button>
            <fresca-clear-grid-filters-button class="mr-3 float-right" [grid]="wellsGrid">
            </fresca-clear-grid-filters-button>
        </div>
    </div>
    <ag-grid-angular #wellsGrid style="width: 100%; height: 300px;" class="ag-theme-balham mt-2"
        [rowData]="redSensors" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" [rowSelection]="'multiple'"
        (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>
</div>
