<form #inspectionUpsertForm="ngForm">

    <div class="row col-12 mt-4">

        <div class="row col-12">
            <div class="row col-6">
                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Temperature: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>{{waterQualityInspection.Temperature}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>PH: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>{{waterQualityInspection.PH}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Conductivity: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>{{waterQualityInspection.Conductivity}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Field Alkilinity: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>{{waterQualityInspection.FieldAlkilinity}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Field Nitrates: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>{{waterQualityInspection.FieldNitrates}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Lab Nitrates: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>{{waterQualityInspection.LabNitrates}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Salinity: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>{{waterQualityInspection.Salinity}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">       
                    <div class="col-6 control-label text-right mb-2">
                        <label><strong>Crop Type: </strong></label>
                    </div>
                    <div class="col-6 text-left mb-2">
                        <ng-select [(ngModel)]="inspection.CropTypeID"
                            [items]="cropTypes" bindLabel="CropTypeDisplayName" bindValue="CropTypeID" 
                            placeholder="Choose One" name="CropTypeID">
                        </ng-select>
                    </div>
                </div>
    
                <div class="row col-12">
                    <div class="col-6 control-label text-right mb-2">
                        <label><strong>Inspection Notes: </strong></label>
                    </div>
                    <div class="col-6 text-left mb-2">
                        <textarea class="form-control" name="InspectionNotes"
                            placeholder="Notes" [(ngModel)]="inspection.InspectionNotes">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="row col-6">

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>MV: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.MV}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Na: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.Sodium}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Ca: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.Calcium}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Mg: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.Magnesium}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>K: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.Potassium}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>HCO<sub>3-</sub>: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.HydrogenCarbonate}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>CaCO<sub>3-</sub>: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.CalciumCarbonate}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>SO<sub>4</sub><sup>2-</sup>: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.Sulfate}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Cl: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.Chloride}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>SiO<sub>2</sub>: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.SiliconDioxide}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Pre Water Level: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.PreWaterLevel}}
                        </p>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-right">
                        <p><strong>Post Water Level: </strong></p>
                    </div>
                    <div class="col-6 text-left">
                        <p>
                            {{waterQualityInspection.PostWaterLevel}}
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row col-6">
            
            <div class="col-6 control-label text-right mb-2">
                <label><strong>Date Inspected: </strong></label>
            </div>
            <div class="col-6 text-left mb-2 form-group">
                <div class="input-group">
                    <input class="form-control" name="dp1"
                    placeholder="yyyy-mm-dd"
                    [(ngModel)]="inspection.InspectionDate" ngbDatepicker #d1="ngbDatepicker" />
                    <div class="input-group-append">
                        <button class="btn btn-zybach far fa-calendar input-group-append" (click)="d1.toggle()" type="button"></button>
                    </div>
                </div>
            </div>


            <div class="col-6 control-label text-right mb-2">
                <label><strong>Inspector: </strong></label>
            </div>
            <div class="col-6 text-left mb-2">
                <ng-select [(ngModel)]="inspection.InspectorUserID"
                    [items]="users" bindLabel="FullNameLastFirst" bindValue="UserID" 
                    placeholder="Choose One" name="InspectorUserID">
                </ng-select>
            </div>





        </div>
    </div>

</form>